$secondColor: #3694c6;
$secondColorLighter: #3694c6e2;
$lightBlue: rgb(149, 187, 224);

.roundButton{
  font-size: 16px;
  font-weight: bold;
  background-color: $secondColor;
  border-radius: 84px;
  padding: 15px 15px 15px 15px;
  cursor: pointer;
  color: white;

  &:hover{
    filter: brightness(94%);
  }
}

.squareButton{
  font-size: 17px;
  font-weight: bold;
  background-color: $secondColor;
  border-radius: 15px;
  padding: 15px 15px 15px 15px;
  cursor: pointer;
  color: white;

  &:hover{
    filter: brightness(94%);
  }
}

.deleteButton{
  font-size: 17px;
  font-weight: bold;
  background-color: rgb(215, 61, 61);
  border-radius: 15px;
  padding: 15px 15px 15px 15px;
  cursor: pointer;
  color: white;

  &:hover{
    filter: brightness(94%);
  }
}

  .lds-ellipsis { //to style the annimation
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }
  